@font-face {
    font-family: 'charter regular'; /*a name to be used later*/
    src: url('../fonts/Charter Regular.ttf'); /*URL to font*/
}

body {
    background-color: #212121;

}

h1, h2, h3 {
    color: #bababa;

}
.main_title_container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_title{
    font-size: 300%;
    text-align: center;
}

.sub_title{
    text-align: center;
    margin-bottom: 40px;
}

.navigation {
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
}

.article_container {
    margin-top: 65px;
    margin-bottom: 65px;
}

.article_text {
    text-align: justify;
    text-justify: inter-word;
    color: #bababa;

    font-family: "charter regular";
    font-size: 120%;

}

.top_article_abstract {
    text-align: center;
    color: #bababa;

    font-size: 130%;
    font-family: "charter regular";
    margin-bottom: 65px;
    margin-top: 65px;
}

.top_embedded_video {
    width: 640px;
    margin: auto;
}


.embedded_video {
    width: 640px;
    margin: auto;
}

.header_image {
    margin: 0 auto;
}

h2.header_text{
    font-size: xxx-large
    font-weight: bold;
}

.image {
    margin: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box {
  float: left;
  width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #2d2d2d;
}

.unmarked_link {
    color: #bababa;
    text-decoration: none;
}

.split {
  width: 50%;
  position: fixed;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
