body {
    background-color: #212121;
}

h1, h2 {
    color: #bababa;
    text-align: center;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 250%;
}

.article_text {
    text-align: justify;
    text-justify: inter-word;
    color: #bababa;
}

.embedded_video {
    background: lightblue;
    width: 640px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.embedded_video {
    margin: auto
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #2d2d2d;
    color: #b1b1b1;

}

.unmarked_link {
    color: #bababa;
    text-decoration: none;
}

.split {
  width: 50%;
  position: fixed;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
