{% load static %}

<html>
    <head>
        <title>unsurv</title>
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.png' %}">

    </head>
    <body>

    <div class="main_title_container">
        <h1 class="main_title"><a class="unmarked_link" href="/">unsurv.org</a></h1>
        <h2 class="sub_title">exposing surveillance</h2>
    </div>

    <div class="navigation">

        <h3 class="box"><a class="unmarked_link" href="/">Home</a></h3>
        <h3 class="box"><a class="unmarked_link" href="/blog">Blog</a></h3>
        <h3 class="box"><a class="unmarked_link" href="https://twitter.com/unsurv">Twitter</a></h3>

    </div>

         {% block content %}
         {% endblock %}

    <div class="footer">
        <h3><a class="unmarked_link footer_text" href="/info">Impressum / Datenschutz</a></h3>
    </div>

    </body>
</html>