{% extends 'website/base.html' %}


{% block content %}


<div class="article_container">
    <div class="spacer">
    </div>


    <div class="previews">

        {% for article in blog_overview_list %}


        <h2 class="heading"><a class="unmarked_link" href="/blog/{{ article.slug }}/">{{ article.title }}</a></h2>

        <p class="article_text">
            {{article.publication_datetime |date:"d M, Y"}}
        </p>
        <p class="article_text">
            {{article.abstract}}
        </p>


        {% endfor %}

    </div>

    <div class="spacer">
    </div>

</div>


{% endblock %}