{% extends 'website/base.html' %}


{% block content %}



        <div class="article_container">
            
            <h1 class="center">{{ article.title }}</h1>

            <p class="center article_text">
                {{article.publication_datetime |date:"d M, Y"}}
            </p>

            <p class="center article_text">
                {{article.text | safe}}
            </p>

            {% if article.embedded_video_url %}

            <div class="embedded_video">
                <iframe src="{{ article.embedded_video_url }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>



            {% endif %}



            {% for image in article.images.all %}

            <a class="image" href="{{ image.high_res.url }}">
                <img src="{{ image.low_res.url }}" width="640" height="360">
            </a>

            <p class="center image_description">
                {{ image.description }}
            </p>

            {% endfor %}




            {% if article.text_after_media %}

            <p class="center article_text">
                {{article.text_after_media}}
            </p>

            {% endif %}

        </div>


{% endblock %}