{% extends 'website/base.html' %}


{% block content %}


<div class="article_container">

    <h2 style="text-align: center">
        {{ language_code }}
    </h2>

    <p class="center top_article_abstract">
        {{top_article.abstract | safe}}
    </p>


    {% if top_article.embedded_video_url %}

    <div class="top_embedded_video">
        <iframe allow="autoplay; fullscreen" allowfullscreen frameborder="0" height="360"
                src="{{ top_article.embedded_video_url }}" width="640"></iframe>
    </div>

    {% endif %}


</div>


<div class="article_container">

    {% if language_preference == "de" %}
    <h1 class="sub_title center">Neueste Blogeinträge:</h1>

    {% else %}
    <h1 class="sub_title center">Latest Blog Entries:</h1>

    {% endif %}


</div>

{% for article in latest_article_list %}

<div class="article_container">
    <h2 class="center"><a class="unmarked_link" href="/blog/{{ article.slug }}/">{{ article.title }}</a></h2>

    <p class="center article_text">
        {{article.publication_datetime |date:"d M, Y"}}
    </p>
    <p class="center article_text">
        {{article.abstract}}
    </p>

</div>

{% if article.embedded_video_url %}

<div class="embedded_video">
    <iframe allow="autoplay; fullscreen" allowfullscreen frameborder="0" height="360"
            src="{{ article.embedded_video_url }}" width="640"></iframe>
</div>

{% endif %}


{% endfor %}

{% endblock %}